#rightmenu
{
   background:#CECECE;
   padding-top: 40px;
   margin-top: 195px;
   float:right;
   padding-left: 25px;
   padding-right: 25px;

width:82%;
border-top-left-radius:13px;
border-top-right-radius:13px;
border-bottom-right-radius:13px;   

}
